<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site de commerce made by JD & NZ</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" id="storefront-style-css" href="/css/themes/storefront/style.css" type="text/css" />
    <link rel="stylesheet" id="storefront-woocommerce-style-css" href="/css/themes/storefront/assets/css/woocommerce/woocommerce.css" type="text/css" />
    <link rel="stylesheet" id="storefront-icons-css" href="/css/themes/storefront/assets/css/base/icons.css" type="text/css" />
    <style id="storefront-style-inline-css" type="text/css">
        </style>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div id="wrapper">
        <div id="inner-wrapper">
            {% block body %}
                <div id="login-form-container">
                    <h2>Vous connecter ou vous inscrire</h2>
                    <form method="POST" id="login-form">
                        <label for="username">Nom d'utilisateur:</label>
                        <input type="text" id="username" name="username" required>

                        <label for="password">Mot de passe:</label>
                        <input type="password" id="password" name="password" required>

                        <button type="submit">Se connecter</button>
                    </form>

                    <form method="POST" id="register-form" style="display: none;">
                        <label for="new_username">Nouveau nom d'utilisateur:</label>
                        <input type="text" id="new_username" name="new_username" required>

                        <label for="new_password">Nouveau mot de passe:</label>
                        <input type="password" id="new_password" name="new_password" required>

                        <button type="submit">S'inscrire</button>
                    </form>

                    <button id="toggle-form" type="button">Inscrivez-vous</button>
                </div>
            {% endblock %}
            <script type="text/javascript" src="/js/themes/storefront/assets/js/navigation.min.js"></script>
            <script type="text/javascript" src="/js/jquery-3.6.3.min.js"></script>
            <script>
                $(document).ready(function() {
                    $('#toggle-form').click(function() {
                        $('#login-form').toggle();
                        $('#register-form').toggle();
                    });
                });
            </script>
            {% block javascripts %}
            {% endblock %}
            <footer id="footer" class="col-full">
                <div id="credit" class="col-right">
                    <p>
                        <object type="image/svg+xml" data="/images/deezer.svg" width="152" height="34"></object>
                    </p>
                    <p>
                        Designed by
                        <a title="Premium WordPress Themes & Plugins by WooThemes" alt="Premium WordPress Themes & Plugins by WooThemes" href="http://www.woothemes.com/">
                            <img width="74" height="19" alt="WooThemes" src="/images/woothemes.png">
                        </a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>